.logo {
    width: 30rem;
    border-radius: 6rem;
}

#front {
    background-color: #C6241C;
    min-height: 100%;
    padding: 8rem;
    .submit-container {
        display: block;
    }
}

#left {
    display: inline-block;
}

#right {
    display: inline-block;
    float: right;
    h1 {
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 4rem;
    }
    p {
        font-size: 1.25rem;
    }
    padding: 10rem 0;
}

#nextButton {
    clear: both;
}
