.logo {
    width: 15rem;
    height: 15rem;
    border-radius: 6rem;
}

#front {
    padding: 4rem;
    margin: 0 auto;
}

#left {
    float: left;
}

#right {
    float: right;
}

#nextButton {
    clear: both;
}