.input {
    margin-left: 7.625rem;
    width: calc(100% - 7.625rem);
    height: 6rem;
    border-radius: 3rem;
    border: 0;
    outline: none;
    font-size: 2.25rem;
    padding: 0 3rem;
    background-color: rgba($color: white, $alpha: 0.25);
}